In [3]:
#pip install requests beautifulsoup4

In [1]:
import requests
from bs4 import BeautifulSoup
import time
import pandas as pd

Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.
Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.

In [2]:
def get_soup(url, delay=1, headers=None, proxy=None):
    """
    Fetches and parses a webpage with BeautifulSoup, handling 403 errors
    by setting headers, delays, and optional proxies.

    Parameters:
        url (str): The URL of the webpage to scrape.
        delay (int): The delay (in seconds) between requests. Default is 1 second.
        headers (dict): Optional headers to include in the request.
        proxy (dict): Optional dictionary for proxies.

    Returns:
        BeautifulSoup object of the parsed page or None if request fails.
    """

    # Default headers to mimic a browser request if none are provided
    if headers is None:
        headers = {
            "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36"
        }

    try:
        # Send the request with headers and optional proxy
        response = requests.get(url, headers=headers, proxies=proxy)
        
        # Check for 403 Forbidden error
        if response.status_code == 403:
            print("403 Forbidden: Access to the page is restricted.")
            return None
        
        # Add delay to avoid rapid requests
        time.sleep(delay)

        # Parse the content with BeautifulSoup
        soup = BeautifulSoup(response.content, "html.parser")
        return soup
    
    except requests.RequestException as e:
        print(f"An error occurred: {e}")
        return None

In [3]:
def scrape_list(url):
    try:
        # Set headers to mimic a browser request
        headers = {
            "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36"
        }
        
        # Send a GET request to the URL
        response = requests.get(url, headers=headers)
        response.raise_for_status()  # Raise an error for bad responses

        # Parse the HTML content
        soup = BeautifulSoup(response.text, 'html.parser')

        # Find the list within the specified section and div
        standings_div = soup.find('div', class_='standings')
        if standings_div:
            list_items = standings_div.find_all('li')
            standings = [item.text.strip() for item in list_items if item.text.strip()]
            return standings
        else:
            print(f"No standings found for {url}")
            return None

    except requests.HTTPError as http_err:
        print(f"HTTP error occurred while scraping {url}: {http_err}")
        return None
    except requests.RequestException as req_err:
        print(f"Request error occurred while scraping {url}: {req_err}")
        return None
    except Exception as e:
        print(f"An unexpected error occurred while scraping {url}: {e}")
        return None

In [4]:
# def scrape_multiple_urls(urls):
#     # Dictionary to store the results for each URL
#     results = {}
#     for url in urls:
#         print(f"Scraping data from {url}...")
#         data = scrape_list(url)
#         results[url] = data if data else "No data found"
#     return results

def scrape_multiple_urls_dict(urls):
    # Dictionary to store the results for each year
    results = {}
    for year, url in urls.items():
        print(f"Scraping data for the year {year} from {url}...")
        data = scrape_list(url)
        results[year] = data if data else "No data found"
    return results

In [5]:
urls = {
    1987: 'https://collegechampionships.usaultimate.org/d1-women/history/1987-d-i-women/',
    1988: 'https://collegechampionships.usaultimate.org/d1-women/history/1988-d-i-women/',
    1989: 'https://collegechampionships.usaultimate.org/d1-women/history/1989-d-i-women/',
    1990: 'https://collegechampionships.usaultimate.org/d1-women/history/1990-d-i-women/',
    1991: 'https://collegechampionships.usaultimate.org/d1-women/history/1991-d-i-women/',
    1992: 'https://collegechampionships.usaultimate.org/d1-women/history/1992-d-i-women/',
    1993: 'https://collegechampionships.usaultimate.org/d1-women/history/1993-d-i-women/',
    1994: 'https://collegechampionships.usaultimate.org/d1-women/history/1994-d-i-women/',
    1995: 'https://collegechampionships.usaultimate.org/d1-women/history/1995-d-i-women/',
    1996: 'https://collegechampionships.usaultimate.org/d1-women/history/1996-d-i-women/',
    1997: 'https://collegechampionships.usaultimate.org/d1-women/history/1997-d-i-women/',
    1998: 'https://collegechampionships.usaultimate.org/d1-women/history/1998-d-i-women/',
    1999: 'https://collegechampionships.usaultimate.org/d1-women/history/1999-d-i-women/',
    2000: 'https://collegechampionships.usaultimate.org/d1-women/history/2000-d-i-women/',
    2001: 'https://collegechampionships.usaultimate.org/d1-women/history/2001-d-i-women/',
    2002: 'https://collegechampionships.usaultimate.org/d1-women/history/2002-d-i-women/',
    2003: 'https://collegechampionships.usaultimate.org/d1-women/history/2003-d-i-women/',
    2004: 'https://collegechampionships.usaultimate.org/d1-women/history/2004-d-i-women/',
    2005: 'https://collegechampionships.usaultimate.org/d1-women/history/2005-d-i-women/',
    2006: 'https://collegechampionships.usaultimate.org/d1-women/history/2006-d-i-women/',
    2007: 'https://collegechampionships.usaultimate.org/d1-women/history/2007-d-i-women/',
    2008: 'https://collegechampionships.usaultimate.org/d1-women/history/2008-d-i-women/',
    2009: 'https://collegechampionships.usaultimate.org/d1-women/history/2009-d-i-women/',
    2010: 'https://collegechampionships.usaultimate.org/d1-women/history/2010-d-i-women/',
    2011: 'https://collegechampionships.usaultimate.org/d1-women/history/2011-d-i-college-womens/',
    2012: 'https://collegechampionships.usaultimate.org/d1-women/history/2012-d-i-college-womens/',
    2013: 'https://collegechampionships.usaultimate.org/d1-women/history/2013-d-i-college-womens/',
    2014: 'https://collegechampionships.usaultimate.org/d1-women/history/2014-d-i-college-womens/',
    2015: 'https://collegechampionships.usaultimate.org/d1-women/history/2015-d-i-women/',
    2016: 'https://collegechampionships.usaultimate.org/d1-women/history/2016-d-i-college-womens/',
    2017: 'https://collegechampionships.usaultimate.org/d1-women/history/2017-d-i-women/',
    2018: 'https://collegechampionships.usaultimate.org/d1-women/history/2018-d-i-women/',
    2019: 'https://collegechampionships.usaultimate.org/d1-women/history/2019-d-i-women/',
    # 2020 no season
    2021: 'https://collegechampionships.usaultimate.org/d1-women/history/2019-d-i-women-2/',
    2022: 'https://collegechampionships.usaultimate.org/d1-women/history/2019-d-i-women-2-2/',
    2023: 'https://collegechampionships.usaultimate.org/d1-women/history/2019-d-i-women-2-2-2/'
}

In [6]:
all_standings = scrape_multiple_urls_dict(urls)

Scraping data for the year 1987 from https://collegechampionships.usaultimate.org/d1-women/history/1987-d-i-women/...
Scraping data for the year 1988 from https://collegechampionships.usaultimate.org/d1-women/history/1988-d-i-women/...
Scraping data for the year 1989 from https://collegechampionships.usaultimate.org/d1-women/history/1989-d-i-women/...
Scraping data for the year 1990 from https://collegechampionships.usaultimate.org/d1-women/history/1990-d-i-women/...
Scraping data for the year 1991 from https://collegechampionships.usaultimate.org/d1-women/history/1991-d-i-women/...
Scraping data for the year 1992 from https://collegechampionships.usaultimate.org/d1-women/history/1992-d-i-women/...
Scraping data for the year 1993 from https://collegechampionships.usaultimate.org/d1-women/history/1993-d-i-women/...
Scraping data for the year 1994 from https://collegechampionships.usaultimate.org/d1-women/history/1994-d-i-women/...
Scraping data for the year 1995 from https://collegechampionships.usaultimate.org/d1-women/history/1995-d-i-women/...
Scraping data for the year 1996 from https://collegechampionships.usaultimate.org/d1-women/history/1996-d-i-women/...
Scraping data for the year 1997 from https://collegechampionships.usaultimate.org/d1-women/history/1997-d-i-women/...
Scraping data for the year 1998 from https://collegechampionships.usaultimate.org/d1-women/history/1998-d-i-women/...
Scraping data for the year 1999 from https://collegechampionships.usaultimate.org/d1-women/history/1999-d-i-women/...
Scraping data for the year 2000 from https://collegechampionships.usaultimate.org/d1-women/history/2000-d-i-women/...
Scraping data for the year 2001 from https://collegechampionships.usaultimate.org/d1-women/history/2001-d-i-women/...
Scraping data for the year 2002 from https://collegechampionships.usaultimate.org/d1-women/history/2002-d-i-women/...
Scraping data for the year 2003 from https://collegechampionships.usaultimate.org/d1-women/history/2003-d-i-women/...
Scraping data for the year 2004 from https://collegechampionships.usaultimate.org/d1-women/history/2004-d-i-women/...
Scraping data for the year 2005 from https://collegechampionships.usaultimate.org/d1-women/history/2005-d-i-women/...
Scraping data for the year 2006 from https://collegechampionships.usaultimate.org/d1-women/history/2006-d-i-women/...
Scraping data for the year 2007 from https://collegechampionships.usaultimate.org/d1-women/history/2007-d-i-women/...
Scraping data for the year 2008 from https://collegechampionships.usaultimate.org/d1-women/history/2008-d-i-women/...
Scraping data for the year 2009 from https://collegechampionships.usaultimate.org/d1-women/history/2009-d-i-women/...
Scraping data for the year 2010 from https://collegechampionships.usaultimate.org/d1-women/history/2010-d-i-women/...
Scraping data for the year 2011 from https://collegechampionships.usaultimate.org/d1-women/history/2011-d-i-college-womens/...
Scraping data for the year 2012 from https://collegechampionships.usaultimate.org/d1-women/history/2012-d-i-college-womens/...
Scraping data for the year 2013 from https://collegechampionships.usaultimate.org/d1-women/history/2013-d-i-college-womens/...
Scraping data for the year 2014 from https://collegechampionships.usaultimate.org/d1-women/history/2014-d-i-college-womens/...
Scraping data for the year 2015 from https://collegechampionships.usaultimate.org/d1-women/history/2015-d-i-women/...
Scraping data for the year 2016 from https://collegechampionships.usaultimate.org/d1-women/history/2016-d-i-college-womens/...
Scraping data for the year 2017 from https://collegechampionships.usaultimate.org/d1-women/history/2017-d-i-women/...
Scraping data for the year 2018 from https://collegechampionships.usaultimate.org/d1-women/history/2018-d-i-women/...
Scraping data for the year 2019 from https://collegechampionships.usaultimate.org/d1-women/history/2019-d-i-women/...
Scraping data for the year 2021 from https://collegechampionships.usaultimate.org/d1-women/history/2019-d-i-women-2/...
Scraping data for the year 2022 from https://collegechampionships.usaultimate.org/d1-women/history/2019-d-i-women-2-2/...
Scraping data for the year 2023 from https://collegechampionships.usaultimate.org/d1-women/history/2019-d-i-women-2-2-2/...

In [7]:
for url, standings in all_standings.items():
    print(f"\nStandings for {url}:")
    print(standings)

Standings for 1987:
['1-Kansas', '2-California- Davis', '3-Humboldt State', '4-Massachusetts', '5-Cornell', '6-Earlham', '7-Vermont']

Standings for 1988:
['1-California-Santa Barbara', '2-California-Davis', '3T-Humboldt State', '3T-Oregon', '5T-Carleton College', '5T-Massachusetts', '7T-Cornell', '7T-Wisconsin', '9T-Florida', '9T-Kansas']

Standings for 1989:
['1-California-Davis', '2-Michigan', '3T-California- Santa Barbara', '3T-Carleton College', '?-Cornell', '?-North Carolina-Wilmington', '?-Oregon', '?-Pennsylvania', '?-SUNY-Binghampton', '?-Towson']

Standings for 1990:
['1-California-Santa Barbara', '2-Michigan', '3-Cornell', '4-Carleton College', '5-California-Davis', '6-Carnegie Mellon', '7T-Columbia', '7T-Kansas', '9T-Pennsylvania', '9T-Wesleyan']

Standings for 1991:
['1-California- Santa Barbara', '2-California', '3T-Carleton College', '3T-Cornell', '5T-North Carolina-Wilmington', '5T-Virginia', '7T-Columbia', '7T-Kansas', '9T-Carnegie Mellon', '9T-Tufts']

Standings for 1992:
['1-North Carolina-Wilmington', '2-Oregon', '3T-California', '3T-Columbia', '5T-Carleton College', '5T-Cornell', '5T-Pennsylvania', '5T-Kansas', '9T-Brown', '9T-Georgia Tech']

Standings for 1993:
['1-California', '2-North Carolina-Wilmington', '3T-Carleton College', '3T-Humboldt State', '5T-Columbia', '5T-Cornell', '5T-Indiana', '5T-Pennsylvania', '9T-Kansas', '9T-Williams']

Standings for 1994:
['1-California-Santa Cruz', '2-California-Santa Barbara', '3T-Indiana', '3T-North Carolina-Wilmington', '5T-Carleton College', '5T-Columbia', '5T-Cornell', '5T-Kansas', '9T-East Carolina', '9T-Tufts']

Standings for 1995:
['1- California- Santa Cruz', '2-Stanford', '3T-Colorado', '3T-North Carolina-Wilmington', '5T-Columbia', '5T-Pennsylvania', '7T-Indiana', '7T-Yale', '9T-Carleton College', '9T-Williams']

Standings for 1996:
['1-North Carolina-Wilmington', '2-Stanford', '3T-Calif0rnia', '3T-Carleton College', '5T-Colorado', '5T-Cornell', '5T-Indiana', '5T-Yale', '9T-Florida State', '9T-Pennsylvania']

Standings for 1997:
['1- Stanford', '2-British Columbia', '3T-Carleton College', '3T-Rutgers', '5T-Brown', '5T-North Carolina-Wilmington', '5T-Oberlin', '5T-Yale', '9T-Georgia', '9T-Rice']

Standings for 1998:
['1-Stanford', '2-Carleton College', '3T-Oregon', '3T-Yale', '5T-Cornell', '5T-North Carolina-Wilmington', '7T-Indiana', '7T-Rutgers', '9T-Georgia', '9T-MIT', '11T-Rice', '11T-Wisconsin']

Standings for 1999:
['1- Stanford', '2-Carleton College', '3T-Brown', '3T-Georgia', '5T-British Columbia', '5T-California- San Diego', '7T- Swarthmore', '7T-Yale', '9T-Illinois', '9T-Princeton', '11T-Kansas', '11T-Minnesota']

Standings for 2000:
['1-Carleton College', '2-North Carolina-Wilmington', '3T-California- Davis', '3T-Georgia', '5T-Brown', '5T-California-San Diego', '5T-Colorado', '5T-Tufts', '9-Swarthmore', '10-Smith', '11-Minnesota', '12-Rice', '13-Oregon', '14-Illinois', '15T-Bucknell', '15T-Notre Dame']

Standings for 2001:
['1-Georgia', '2-Stanford', '3T-California- San Diego', '3T-North Carolina- Wilmington', '5T-British Columbia', '5T-Brown', '5T-Carleton College', '5T-Tufts', '9- Colorado', '10-Northwestern', '11-Bucknell', '12-Swarthmore', '13-Illinois', '14-MIT', '15-Wisconsin', '16-Washington']

Standings for 2002:
['1-California-San Diego', '2-Stanford', '3T-Colorado', '3T-MIT', '5T-Bucknell', '5T-Carleton College', '5T-North Carolina', '5T-Oregon', '9T-Brown', '9T-Northwestern', '11T-Penn State', '11T-Virginia', '13T-Georgia', '13T-Indiana', '15T-Texas', '15T- Yale']

Standings for 2003:
['1-Stanford', '2-MIT', '3T-Brown', '3T-Colorado', '5T-California', '5T-California-San Diego', '5T-Penn State', '5T-Texas', '9T-Iowa', '9T-Wisconsin', '11T-Delaware', '11T-Duke', '13-Michigan', '14T-Arizona', '14T-Georgia', '14T-Notre Dame']

Standings for 2004:
['1- California-Davis', '2-Carleton College', '3T-California-San Diego', '3T-Stanford', '5T-Brown', '5T-California', '5T-Texas', '5T-MIT', '9T-Dartmouth', '9T-Iowa', '11T-Claremont', '11T-Illinois', '13T-Penn State', '15T-North Carolina State', '15T-Rutgers']

Standings for 2005:
['1-Stanford', '2-Washington', '3T-Colorado', '3T-Texas', '5T-Brown', '5T-California', '5T-Iowa', '5T-North Carolina State', '9T-Cornell', '9T-MIT', '11T-Dartmouth', '11T-Northwestern', '13-Texas A&M', '14T-Carleton College', '14T-Purdue', '14T-Rutgers']

Standings for 2006:
['1-Stanford', '2-UCLA', '3T-Colorado', '3T-Wisconsin', '5T-British Columbia', '5T-California-Davis', '5T-Dartmouth', '5T-Florida', '9T-Georgia', '9T-Michigan', '11T-Emory', '11T-Tufts', '13T-Swarthmore', '13T-Texas', '15T-Carleton College', '15T-Delaware']

Standings for 2007:
['1-Stanford', '2-California-Santa Barbara', '3T-British Columbia', '3T-UCLA', '5T- California', '5T-Carleton College', '5T-Northwestern', '5T-Wisconsin', '9T-California-San Diego', '9T-NYU', '11T-Delaware', '11T-Tufts', '13T-Florida', '13T-Truman State', '15T-Dartmouth', '15T-Emory']

Standings for 2008:
['1-British Columbia', '2-California-Santa Barbara', '3T-UCLA', '3T-Washington', '5T-Carleton College', '5T-Michigan', '5T-Ottawa', '5T-Wisconsin', '9T-Northeastern', '9T-Texas', '11T-Maryland', '11T-Michigan State', '13T-Wake Forest', '13T-Oregon', '15T-MIT', '15T-North Carolina']

Standings for 2009:
['1-California-Santa Barbara', '2-Washington', '3T-Oregon', '3T-Stanford', '5T-Ottawa', '5T-Pennsylvania', '5T-UCLA', '5T-Wisconsin', '9T-Carleton College', '9T-Michigan', '11T-North Carolina', '11T-North Carolina-Wilmington', '13T-Dartmouth', '13T-Saint Louis', '15T-Colorado', '15T-Iowa State', '17T-Northeastern', '17T-Washington University', '19T-Illinois', '19T-Southern California']

Standings for 2010:
['1- Oregon', '2- California- Santa Barbara', '3T-Colorado', '3T-Wisconsin', '5T-California', '5T-North Carolina- Wilmington', '5T-Southern California', '5T-UCLA', '9T-PIttsburgh', '9T-Washington', '11T-Carleton College', '11T-Michigan', '13T-Stanford', '13T- North Carolina', '15T-Maryland', '15T-Washington University', '17T- Northwestern', '17T- Texas', '19T- Harvard', '19T- Middlebury']

Standings for 2011:
['1-California-Santa Barbara', '2-Michigan', '3T-Oregon', '3T-Stanford', '5T-Colorado College', '5T-Iowa', '5T-North Carolina', '5T-North Carolina- Wilmington', '9- Washington', '10- Iowa State', '11-California', '12-Carleton College', '13T-Northwestern', '13T-Ottawa', '15T-Florida', '15T-Tufts', '17T-Ohio State', '17T- Washington University', '19T-British Columbia', '19T- Virginia']

Standings for 2012:
['1-Washington', '2-Oregon', '3T-Michigan', '3T-Tufts', '5T-Iowa', '5T-North Carolina', '5T-Ohio State', '5T-Texas', '9- California', '10-Iowa State', '11-British Columbia', '12-UCLA', '13T-Florida', '13T-Stanford', '15T-Sonoma State', '15T-Wisconsin', '17T-Humboldt State', '17T-Virginia', '19T-Delaware', '19T-Ottawa']

Standings for 2013:
['1- Oregon', '2- Carleton College', '3T- Iowa', '3T- Ohio State', '5T- British Columbia', '5T- Tufts', '5T- Virginia', '5T-Washington', '9T- Iowa State', '9T- Minnesota', '9T- Northwestern', '9T- Wisconsin', '13T- California- Santa Barbara', '13T- Ottawa', '13T- Stanford', '13T- Whitman', '17T- Central Florida', '17T- Georgia', '17T- Northeastern', '17T- Texas']

Standings for 2014:
['1- Ohio State', '2- Oregon', '3T- Central Florida', '3T- Washington', '5T- British Columbia', '5T- Carleton College', '5T- Michigan', '5T- Virginia', '9T-California- Santa Barbara', '9T- Colorado College', '9T- Tufts', '9T- UCLA', '13T- Colorado', '13T- Kansas', '13T- Stanford', '13T- Victoria', '17T- Cornell', '17T- Northeastern', '17T- Western Washington', '17T- Whitman']

Standings for 2015:
['1- Oregon', '2.- Stanford', '3T- British Columbia', '3T- Carleton College', '5T- Colorado', '5T- Dartmouth', '5T- Virginia', '5T- Whitman', '9T- Florida State', '9T- Ohio State', '9T- Texas', '9T- Victoria', '13T- Central Florida', '13T- Princeton', '13T- UCLA', '13T- Washington', '17T- Kansas', '17T- Middlebury', '17T- Notre Dame', '17T- Pittsburgh']

Standings for 2016:
['1- Stanford', '2- Whitman', 'T3- Oregon', 'T3- Virginia', 'T5- British Columbia', 'T5- Colorado', 'T5- Dartmouth', 'T5- UCLA', 'T9-Michigan', 'T9- Texas', 'T9- Washington', 'T9- Wisconsin', 'T13- California', 'T13- Western Washington**', 'T13- Colorado College', 'T13- Pittsburgh', 'T17- Central Florida', 'T17- Ohio State', 'T17- Ottawa', 'T17- Southern California']

Standings for 2017:
['1- Dartmouth', '2-Texas', 'T3- British Columbia', 'T3- Colorado', 'T5- Oregon', 'T5- Stanford', 'T9-California', 'T9-Carleton College', 'T9-Michigan', 'T9-Notre Dame', 'T13-California- San Diego', 'T13- Delaware', 'T13-North Carolina', 'T13-Ohio State', 'T17- Connecticut', 'T17- Florida', 'T17- Pittsburgh', 'T17- Tufts']

Standings for 2018:
['1 – Dartmouth', '2 – Colorado', 'T3 – Pittsburgh', 'T3 – Stanford', 'T5 – British Columbia', 'T5 – North Carolina', 'T5 – Oregon', 'T5 – Texas', 'T9 – California-San Diego', 'T9 – Michigan', 'T9 – North Carolina State', 'T9 – Tufts', 'T13 – Carleton College', 'T13 – Ohio State', 'T13 – West Chester', 'T13 – Western Washington', 'T17 – California-Santa Barbara', 'T17 – Cornell', 'T17 – Florida', 'T17 – Whitman']

Standings for 2019:
['1 – California-San Diego', '2 – Dartmouth', 'T3 – North Carolina', 'T3 – Ohio State', 'T5 – Carleton College-Syzygy', 'T5 – Western Washington', 'T5 – California-Santa Barbara', 'T5 – Wisconsin', 'T9 – Georgia', 'T9 – Colorado', 'T9 – Minnesota', 'T9 – Oregon', 'T13 – Texas', 'T13 – UCLA', 'T13 – Washington', 'T13 – Northwestern', 'T17 – Pittsburgh', 'T17 – Northeastern', 'T17 – Tufts', 'T17 – Cornell']

Standings for 2021:
['1 – North Carolina', '2 – Washington', 'T3 – Carleton-Syzygy', 'T3 – California-Santa Barbara', 'T5 – Virginia', 'T5 – California-San Diego', 'T5 – Pittsburgh', 'T5 – California-Davis', 'T9 – Western Washington', 'T9 – Colorado', 'T11 – Texas', 'T11 – Chicago', 'T13 – Vermont', 'T13 – Georgia', 'T15 – Florida State', 'T15 – Ohio', 'T17 – Pennsylvania', 'T17 – SUNY-Binghamton', 'T19 – Michigan', 'T19 – Boston University']

Standings for 2022:
['1 – North Carolina', '2 – Colorado', 'T3 – Carleton College', 'T3 – California-Santa Barbara', 'T5 – British Columbia', 'T5 – Tufts', 'T5 – Washington', 'T5 –Vermont', 'T9 – California-Davis', 'T9 – California-San Diego', 'T9 – Florida State', 'T9 –Stanford', 'T13 – Georgia', 'T13 – Pittsburgh', 'T15 –William & Mary', 'T15 – Virginia', 'T17 – Purdue', 'T17 – Northeastern', 'T19 – SUNY-Binghamton', 'T19 – Colorado State']

Standings for 2023:
['1 – North Carolina', '2 – Colorado', 'T3 – British Columbia', 'T3 – Vermont', 'T5 – Carleton College', 'T5 – Stanford', 'T5 – Tufts', 'T5 – Washington', 'T9 – California-Santa Barbara', 'T9 – Colorado State', 'T9 – Northeastern', 'T9 – Oregon', 'T13 – UCLA', 'T13 – Virginia', 'T15 – Chicago', 'T15 – Victoria', 'T17 – Georgia', 'T17 – SUNY-Binghamton', 'T19 – Carnegie Mellon', 'T19 – Texas-Dallas']

In [27]:
# Fix entries in 2022 standings
if 2022 in all_standings:
    all_standings[2022] = [
        entry.replace('T5 –Vermont', 'T5 – Vermont')
        .replace('T9 –Stanford', 'T9 – Stanford')
        .replace('T15 –William & Mary', 'T15 – William & Mary')
        for entry in all_standings[2022]
    ]

# Verify the fix
print("2022 standings after fix:")
for entry in all_standings[2022]:
    print(entry)

2022 standings after fix:
1 – North Carolina
2 – Colorado
T3 – Carleton College
T3 – California-Santa Barbara
T5 – British Columbia
T5 – Tufts
T5 – Washington
T5 – Vermont
T9 – California-Davis
T9 – California-San Diego
T9 – Florida State
T9 – Stanford
T13 – Georgia
T13 – Pittsburgh
T15 – William & Mary
T15 – Virginia
T17 – Purdue
T17 – Northeastern
T19 – SUNY-Binghamton
T19 – Colorado State

In [28]:
# Create empty lists to store our data
data = []

# Iterate through the standings dictionary
for year, standings in all_standings.items():
    if isinstance(standings, list):  # Only process if we have actual standings data
        for i, entry in enumerate(standings, 1):
            if year > 2017:
                # Try both types of dashes for newer years
                if ' – ' in entry:  # en dash
                    parts = entry.split(' – ', 1)
                elif ' - ' in entry:  # regular hyphen
                    parts = entry.split(' - ', 1)
                else:
                    parts = entry.split('-', 1)
            else:
                # Pre-2016 format
                parts = entry.split('-', 1)
            
            if len(parts) == 2:
                web_finish = parts[0].strip()
                team = parts[1].strip()
                
                data.append({
                    'URL': urls[year],
                    'Year': year,
                    'Team': team,
                    'Web_Finish': web_finish,
                    'List_Finish': i
                })

# Create DataFrame
df = pd.DataFrame(data)

In [29]:
df

,URL,Year,Team,Web_Finish,List_Finish
0,https://collegechampionships.usaultimate.org/d...,1987,Kansas,1,1
1,https://collegechampionships.usaultimate.org/d...,1987,California- Davis,2,2
2,https://collegechampionships.usaultimate.org/d...,1987,Humboldt State,3,3
3,https://collegechampionships.usaultimate.org/d...,1987,Massachusetts,4,4
4,https://collegechampionships.usaultimate.org/d...,1987,Cornell,5,5
...,...,...,...,...,...
547,https://collegechampionships.usaultimate.org/d...,2023,Victoria,T15,16
548,https://collegechampionships.usaultimate.org/d...,2023,Georgia,T17,17
549,https://collegechampionships.usaultimate.org/d...,2023,SUNY-Binghamton,T17,18
550,https://collegechampionships.usaultimate.org/d...,2023,Carnegie Mellon,T19,19
551,https://collegechampionships.usaultimate.org/d...,2023,Texas-Dallas,T19,20

In [30]:
# # Export to CSV
# df.to_csv('college-womens-raw-rankings.csv', index=False)
# print("Data exported to 'college-womens-raw-rankings.csv'")

In [31]:
# Get unique team names and sort alphabetically
unique_teams_raw = sorted(df['Team'].unique())

# Print the teams
print("All raw teams in alphabetical order:")
for team in unique_teams_raw:
    print(team)

All raw teams in alphabetical order:
Arizona
Boston University
British Columbia
Brown
Bucknell
Calif0rnia
California
California- Davis
California- San Diego
California- Santa Barbara
California- Santa Cruz
California-Davis
California-San Diego
California-Santa Barbara
California-Santa Cruz
Carleton College
Carleton College-Syzygy
Carleton-Syzygy
Carnegie Mellon
Central Florida
Chicago
Claremont
Colorado
Colorado College
Colorado State
Columbia
Connecticut
Cornell
Dartmouth
Delaware
Duke
Earlham
East Carolina
Emory
Florida
Florida State
Georgia
Georgia Tech
Harvard
Humboldt State
Illinois
Indiana
Iowa
Iowa State
Kansas
MIT
Maryland
Massachusetts
Michigan
Michigan State
Middlebury
Minnesota
NYU
North Carolina
North Carolina State
North Carolina- Wilmington
North Carolina-Wilmington
Northeastern
Northwestern
Notre Dame
Oberlin
Ohio
Ohio State
Oregon
Ottawa
PIttsburgh
Penn State
Pennsylvania
Pittsburgh
Princeton
Purdue
Rice
Rutgers
SUNY-Binghampton
SUNY-Binghamton
Saint Louis
Smith
Sonoma State
Southern California
Stanford
Swarthmore
Texas
Texas A&M
Texas-Dallas
Towson
Truman State
Tufts
UCLA
Vermont
Victoria
Virginia
Wake Forest
Washington
Washington University
Wesleyan
West Chester
Western Washington
Western Washington**
Whitman
William & Mary
Williams
Wisconsin
Yale

In [32]:
def clean_team_name(team):
    # Apply the cleaning function to create new column
    team_fixes = {
        'Calif0rnia': 'California',
        'PIttsburgh': 'Pittsburgh',
        'Western Washington**': 'Western Washington',
        'SUNY-Binghampton': 'SUNY-Binghamton',
        'California- Davis': 'UC Davis',
        'California-Davis': 'UC Davis',
        'California- San Diego': 'UC San Diego',
        'California-San Diego': 'UC San Diego',
        'California- Santa Barbara': 'UC Santa Barbara',
        'California-Santa Barbara': 'UC Santa Barbara',
        'California- Santa Cruz': 'UC Santa Cruz',
        'California-Santa Cruz': 'UC Santa Cruz',
        'Carleton College-Syzygy': 'Carleton',
        'Carleton-Syzygy': 'Carleton',
        'Carleton College': 'Carleton'
    }
    
    return team_fixes.get(team, team)

In [33]:
# Apply the cleaning function to create new column
df['Team_Clean'] = df['Team'].apply(clean_team_name)

# Print unique teams after cleaning to verify changes
print("All teams after cleaning (alphabetically):")
for team in sorted(df['Team_Clean'].unique()):
    print(team)

All teams after cleaning (alphabetically):
Arizona
Boston University
British Columbia
Brown
Bucknell
California
Carleton
Carnegie Mellon
Central Florida
Chicago
Claremont
Colorado
Colorado College
Colorado State
Columbia
Connecticut
Cornell
Dartmouth
Delaware
Duke
Earlham
East Carolina
Emory
Florida
Florida State
Georgia
Georgia Tech
Harvard
Humboldt State
Illinois
Indiana
Iowa
Iowa State
Kansas
MIT
Maryland
Massachusetts
Michigan
Michigan State
Middlebury
Minnesota
NYU
North Carolina
North Carolina State
North Carolina- Wilmington
North Carolina-Wilmington
Northeastern
Northwestern
Notre Dame
Oberlin
Ohio
Ohio State
Oregon
Ottawa
Penn State
Pennsylvania
Pittsburgh
Princeton
Purdue
Rice
Rutgers
SUNY-Binghamton
Saint Louis
Smith
Sonoma State
Southern California
Stanford
Swarthmore
Texas
Texas A&M
Texas-Dallas
Towson
Truman State
Tufts
UC Davis
UC San Diego
UC Santa Barbara
UC Santa Cruz
UCLA
Vermont
Victoria
Virginia
Wake Forest
Washington
Washington University
Wesleyan
West Chester
Western Washington
Whitman
William & Mary
Williams
Wisconsin
Yale

In [34]:
df

,URL,Year,Team,Web_Finish,List_Finish,Team_Clean
0,https://collegechampionships.usaultimate.org/d...,1987,Kansas,1,1,Kansas
1,https://collegechampionships.usaultimate.org/d...,1987,California- Davis,2,2,UC Davis
2,https://collegechampionships.usaultimate.org/d...,1987,Humboldt State,3,3,Humboldt State
3,https://collegechampionships.usaultimate.org/d...,1987,Massachusetts,4,4,Massachusetts
4,https://collegechampionships.usaultimate.org/d...,1987,Cornell,5,5,Cornell
...,...,...,...,...,...,...
547,https://collegechampionships.usaultimate.org/d...,2023,Victoria,T15,16,Victoria
548,https://collegechampionships.usaultimate.org/d...,2023,Georgia,T17,17,Georgia
549,https://collegechampionships.usaultimate.org/d...,2023,SUNY-Binghamton,T17,18,SUNY-Binghamton
550,https://collegechampionships.usaultimate.org/d...,2023,Carnegie Mellon,T19,19,Carnegie Mellon
551,https://collegechampionships.usaultimate.org/d...,2023,Texas-Dallas,T19,20,Texas-Dallas

In [35]:
# # Create new dataframe without URL and Team columns
# df_clean = df.drop(['URL', 'Team', 'Web_Finish'], axis=1)

# # Rename Team_Clean to Team for clarity
# df_clean = df_clean.rename(columns={'Team_Clean': 'Team', 'List_Finish': 'Rank'})

# # Create Time column accounting for missing 2020 season
# df_clean['Time'] = df_clean.apply(lambda row: 
#     row['Year'] - 1983 if row['Year'] < 2020 
#     else row['Year'] - 1984, axis=1)

# # Reorder columns
# df_clean = df_clean[['Team', 'Time', 'Rank', 'Year']]

# # Verify the first few rows to check the mapping
# df_clean

# # Export to CSV
# df_clean.to_csv('ultimate_standings_clean.csv', index=False)
# print("Data exported to 'ultimate_standings_clean.csv'")

In [36]:
def transform_rank_format(df, column_name):
    def convert_format(rank):
        # If it's already in T# format, keep it
        if isinstance(rank, str) and rank.startswith('T'):
            return rank
        
        # If it ends with T, convert to T# format
        if isinstance(rank, str) and rank.endswith('T'):
            number = rank[:-1]  # Remove the T
            return f'T{number}'
        
        return rank  # Return unchanged if no T

    # Apply the conversion to the specified column
    df[column_name] = df[column_name].apply(convert_format)
    
    return df

In [37]:
# Create new dataframe without URL and Team columns
df_T = df.drop(['URL', 'Team'], axis=1)

# Apply the conversion to the specified column
df = transform_rank_format(df_T, 'Web_Finish')

# Rename Team_Clean to Team for clarity
df_T = df_T.rename(columns={'Team_Clean': 'Team', 'List_Finish': 'Rank', 'Web_Finish': 'T_Rank'})

# Reorder columns
df_T = df_T[['Team', 'Year', 'Rank', 'T_Rank']]

# Manually change a rank value for UNC Wilmington in 2021
df_T.loc[(df_T['Team'] == 'UNC Wilmington') & (df_T['Year'] == 2021), 'T_Rank'] = 'T9'

# Verify the first few rows to check the mapping
df_T

# Export to CSV
df_T.to_csv('college-womens-rankings.csv', index=False)
print("Data exported to 'college-womens-rankings.csv'")

Data exported to 'college-womens-rankings.csv'

In [38]:
# # Read the CSV
# df_with_less_columns_for_tableau = pd.read_csv('ultimate_standings_clean.csv')

# # Group by year and check rank sequences
# found_issues = False
# for year in sorted(df_with_less_columns_for_tableau['Year'].unique()):
#     year_data = df_with_less_columns_for_tableau[df_with_less_columns_for_tableau['Year'] == year].sort_values('Rank')
#     ranks = year_data['Rank'].tolist()
#     expected_ranks = list(range(1, len(ranks) + 1))
    
#     if ranks != expected_ranks:
#         found_issues = True
#         print(f"\nYear {year} has non-sequential ranks:")
#         print("Expected:", expected_ranks)
#         print("Actual:", ranks)
#         print("\nFull data for this year:")
#         print(year_data[['Team', 'Rank']].to_string())

# if not found_issues:
#     print("All years have sequential ranks without gaps! ✓")

In [39]:
df

     Year Web_Finish  List_Finish       Team_Clean
0    1987          1            1           Kansas
1    1987          2            2         UC Davis
2    1987          3            3   Humboldt State
3    1987          4            4    Massachusetts
4    1987          5            5          Cornell
..    ...        ...          ...              ...
547  2023        T15           16         Victoria
548  2023        T17           17          Georgia
549  2023        T17           18  SUNY-Binghamton
550  2023        T19           19  Carnegie Mellon
551  2023        T19           20     Texas-Dallas

[552 rows x 4 columns]

In [40]:
# # Make a big df with logo urls

# # Read in the csv with the team names and urls
# team_logos_df = pd.read_csv('team_logos.csv')

# team_logos_df

# # Remove duplicates from team_logos_df before merging
# team_logos_df_unique = team_logos_df.drop_duplicates('team_name')

# team_logos_df_unique

In [41]:
# # Merge the two dfs on the team name

# # This will:
# # Match rows where df['Team_Clean'] equals team_logos_df['team_name']
# # Keep all rows from df (due to left join)
# # Add all columns from team_logos_df
# # Optionally remove the duplicate team name column

# # Merge using left_on and right_on to specify the different column names
# df_merged = pd.merge(
#     df, 
#     team_logos_df_unique, 
#     left_on='Team_Clean',
#     right_on='team_nam
#     how='left'
# )

# df_merged

In [42]:
# # Export the merged DataFrame to a CSV file
# df_merged.to_csv('ultimate_standings_merged.csv', index=False)
# print("Data exported to 'ultimate_standings_merged.csv'")

In [43]:
# # Add missing logos manually

# teams_with_missing_logos = [
#     #'Arizona',
#     #'Boston College',
#     #'Carnegie Mellon',
#     #'Case Western Reserve',
#     #'Chabot Community College',
#     'Colorado College',
#     'Cornell',
#     'Dartmouth',
#     'Delaware',
#     'East Carolina',
#     'Eastern Michigan',
#     'Florida State',
#     'George Washington',
#     'Glassboro',
#     'Indiana',
#     'Iowa',
#     'Kansas',
#     'Las Positas College',
#     'Luther',
#     'Michigan State',
#     'Middlebury',
#     'Minnesota-Duluth',
#     'North Texas',
#     'Notre Dame',
#     'Oberlin',
#     'Ohio',
#     'Penn',
#     'Princeton',
#     "Queen's",
#     'Rice',
#     'Rutgers',
#     'Saint Louis',
#     'Salisbury',
#     'Suny-Albany',
#     'Suny-Binghampton',
#     'Suny-Purchase',
#     'Sw Missouri State',
#     'Swarthmore',
#     'Syracuse',
#     'Texas State',
#     'UC Davis',
#     'Utah',
#     'Virginia',
#     'Wesleyan',
#     'Whitman',
#     'Williams',
#     'Wilmington',
#     'Winona State',
#     'Yale'
# ]

In [44]:
# # Get unique teams and sort them
# unique_teams = sorted(df_merged['Team_Clean'].unique())


# # Print them to verify
# for team in unique_teams:
#     print(team)

In [45]:
# Adding team results manually, for 2024

# Read in the existing CSV
df_T = pd.read_csv('college-womens-rankings.csv')

# Remove any existing 2024 entries
df_T = df_T[df_T['Year'] != 2024]

# Create new data
new_data = {
    'Team': [
        'North Carolina', 'Stanford', 'Colorado', 'Vermont', 'British Columbia',
        'Carleton', 'Oregon', 'Tufts', 'UC San Diego', 'Michigan',
        'Pennsylvania', 'UC Santa Barbara', 'Colorado State', 'Western Washington', 'SUNY Binghamton',
        'Washington', 'UC Santa Cruz', 'Georgia', 'Utah', 'Victoria'
    ],
    'Year': [2024] * 20,
    'Rank': list(range(1, 21)),
    'T_Rank': [
        '1', '2', 'T3', 'T3', 'T5', 'T5', 'T5', 'T5', 'T9', 'T9',
        'T9', 'T9', 'T13', 'T13', 'T15', 'T15', 'T17', 'T17', 'T19', 'T19'
    ]
}

# Convert to DataFrame
new_df = pd.DataFrame(new_data)

# Append to existing DataFrame
df_T = pd.concat([df_T, new_df], ignore_index=True)

# Export to CSV
df_T.to_csv('college-womens-rankings.csv', index=False)